<div>
    <!-- <h1 id="head_title">Demonstration of obtaining data from server through a service</h1>  -->
    <nav>
      <a  style="padding-right:20px" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
      <a routerLink="products" routerLinkActive="active">Products</a>
  </nav>
  
  
    <p *ngIf="showDetails" id="recent">Recently added product:
     {{new_added[0]}},{{new_added[1]}}
     
   </p> 
     
  
  <router-outlet></router-outlet>
  
  </div> 
 