<div>
    <h1 id="list-title">Products List</h1>

    <table>
        <tr id="table_head">
            <td><b>Product Name</b></td>
            <td><b>Quantity</b></td>
        </tr>
        <tr *ngFor='let product of products' class="table_rows">
            <td><a [routerLink]="['/products',product.name]"  [class.lastViewed]="lastViewedName === product.name">{{product.name}}</a></td>
            <td>{{product.quantity}}</td>
        </tr>
    </table>

    <div> 
        <p id="inputs">Enter product name:
            <input type = "text" (input)='name=$event.target.value' />
            Enter quantity:
            <input type = "text" value=1 (input)='quantity=$event.target.value' />
            <button id="btn" (click)='addProduct(name,quantity); addEvent()'>Add Product</button>
        </p>
    </div>
</div>